body,html {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container{
    height: 100%;
}
.toolsDiv {
    border: 1px black solid;
    background-color: #d6d5d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 15px;
}

.container-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 75%;
}

#PH-svg {
    width: 75%;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wrapHidden {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.toolsDiv .hiddenLayersIN{
    width: 10%;
}


.toolsDiv input,.toolsDiv select,.toolsDiv button{
    min-width: 50px;
    /* max-width: 100px; */
    width: 65%;
    text-align: center;
    font-size: 22px;
    margin-bottom: 5%; 
    padding: 5px;
    border-radius: 5px;
}
.toolsDiv button{
    margin-block: 10px;
}
.toolsDiv #AddhiddenBtn {
    margin-block: 0px;
    margin-bottom: 5%;
}

.console{
    width: 100%;
    height: 25%;
    background-color: black;
    overflow-y: scroll;
    
}
#clearConsol{
    position: absolute;
    top: 76%;
    right: 2%;
    cursor: pointer;
}
.consolContent{
    padding: 10px;
}
.consolContent p{
    color: rgb(110, 181, 110);
    margin-block: 3px;
    font-size: 18px;

    
}
.jsonInput{
    width: 85%;
    height: 75%;
    font-size: 19px;
    border-radius: 15px;

}
textarea{
    resize:none ;
}
#loader,#GraphModal {
     /* display: block; */
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: absolute;
     top: 10vh;
     width: 50vw;
     left: 25vw;
     font-size: 4vw;
     /* border-radius: 50%; */
}
#GraphModal{
    font-size: 18px;
    background-color: #d6d5d5;
        /* display: block; */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 10vh;
        width: 50vw;
        left: 25vw;
        /* border-radius: 50%; */
        padding: 15px;
        border: 2px solid black;

}
#GraphModal span{
    float: left;
    cursor: pointer;
}
#GraphModal span:hover{
    float: left;
    cursor: pointer;
    color: lightcoral;
}
#loader img{
    border-radius: 25px;
}

button{
    cursor: pointer;
}

